<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/detox_cat.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Chapter 4</ion-card-subtitle>
      <ion-card-title>Detox</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut tincidunt odio. Curabitur molestie justo augue, quis efficitur dolor fermentum ut. Sed in consequat nulla. Nunc accumsan, justo ut eleifend ultricies, tortor nisi bibendum tortor, in pharetra ligula nunc nec sapien. Sed ornare erat in justo efficitur eleifend. In consectetur nulla ac nisi tristique vulputate. Donec eu risus ac justo vestibulum vestibulum. Cras ultricies sodales nisi, fermentum interdum erat efficitur nec. Donec eget tincidunt felis, at interdum massa. Praesent purus felis, scelerisque eget tristique vitae, facilisis non lectus. Mauris eu tristique augue, convallis consequat neque. Vivamus risus diam, tristique eu mollis eget, imperdiet at elit. Sed lobortis egestas turpis, pellentesque blandit arcu vehicula maximus. Etiam ut magna magna. Nullam dictum quam sed nunc tempor tempus.
    </ion-card-content>
  </ion-card>
  <ion-button color="dark" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter5']">Next Chapter</ion-button>
  <ion-button color="light" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Previous Chapter</ion-button>
</ion-content>
