<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/saints_cat.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Chapter 2</ion-card-subtitle>
      <ion-card-title>Saints</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tellus nulla, ultricies id maximus in, vulputate quis sapien. Nullam eu sapien id metus interdum suscipit quis ut urna. Integer dui metus, dapibus vitae sagittis id, euismod quis mauris. Praesent tempus nec lacus ut iaculis. Morbi ornare lorem vel porttitor scelerisque. Phasellus maximus vel velit sit amet tristique. Vestibulum sollicitudin, nisi sed tempor faucibus, diam ex accumsan purus, et dictum arcu ligula non odio. Ut ut pulvinar justo. Mauris pellentesque tempor iaculis. Morbi posuere urna maximus lorem feugiat dictum. Sed sed massa sed orci ornare rhoncus. Etiam a varius neque, id sodales ipsum. Vivamus non arcu id eros tempor consectetur a id purus. Fusce eget ultricies justo. Etiam sagittis elit eu nulla facilisis laoreet.
    </ion-card-content>
  </ion-card>
  <ion-button color="dark" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Chapter</ion-button>
  <ion-button color="light" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Chapter</ion-button>
</ion-content>
