<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/rubies_cat.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Chapter 1</ion-card-subtitle>
      <ion-card-title>The Book of Rubies</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus posuere scelerisque porttitor. Mauris a luctus lectus. Curabitur id nulla sit amet ipsum ullamcorper vulputate. Mauris posuere molestie ligula in vehicula. Nulla in nunc sed arcu hendrerit mattis. Sed neque nunc, ornare ac arcu quis, sollicitudin commodo orci. Etiam eu orci vel nibh elementum accumsan. Ut rutrum ultricies nisl, id luctus neque cursus et. Phasellus eleifend, tortor ac hendrerit mollis, sapien ligula sodales velit, in facilisis justo erat vel eros.

Quisque pulvinar accumsan tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at diam a erat egestas cursus. Fusce quis lectus nisi. Pellentesque in nisl molestie, euismod mi fringilla, imperdiet libero. Etiam non nibh vitae lectus commodo commodo. Morbi tempus semper nisl, eu pellentesque dolor fringilla ac. Aliquam imperdiet dignissim pellentesque. Nulla eleifend hendrerit turpis, sit amet cursus nunc congue at. Maecenas malesuada nulla in mauris malesuada, sit amet mattis justo lacinia. Suspendisse eu nunc non eros dignissim porta sed a enim. Nam libero tortor, scelerisque sit amet pulvinar in, mollis sit amet diam. Sed nec odio quis tortor egestas molestie ac ac diam. Sed sagittis eu magna ac luctus. Praesent efficitur lectus vel lobortis porta.
    </ion-card-content>
  </ion-card>
  <ion-button color="dark" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Chapter</ion-button>
  <ion-button color="light" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
</ion-content>
