<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- This will be the book cover -->
<!-- <a [routerDirection]="'root'" [routerLink]="['/toc']"> -->
<ion-content>
  <a [routerDirection]="'root'" [routerLink]="['/toc']">
    <ion-card class="welcome-card">
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <img src="/assets/home4_cat.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Book of Books</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Tap anywhere to start reading!</p>
      </ion-card-content>
    </ion-card>
  </a>
  </ion-content>
<!-- </a> -->