<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/redbull_cat.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Chapter 3</ion-card-subtitle>
      <ion-card-title>RedBull</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque orci nec elit rhoncus, ac semper erat efficitur. Duis bibendum eu elit vestibulum pretium. Morbi sit amet neque luctus, pellentesque metus rutrum, rutrum velit. In lectus lorem, dignissim at nisi sed, interdum iaculis nisl. Sed augue sapien, dapibus in nunc eget, congue accumsan diam. Vivamus congue, ante a porta dapibus, urna sapien lacinia nunc, eget viverra ante tortor ac mi. Nulla dictum rutrum lectus non dictum.

Proin euismod, tortor nec dapibus pharetra, risus ante iaculis magna, in congue enim augue ac nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin sodales scelerisque turpis, in pulvinar arcu semper at. Aliquam sed elementum risus. Sed blandit dui vitae metus feugiat, nec congue nulla interdum. Ut vitae mi nec nunc dignissim accumsan a quis turpis. Duis laoreet orci non cursus sollicitudin. Vivamus dui diam, ullamcorper a sem a, feugiat ultricies felis. Fusce libero ipsum, consectetur ut lacinia eu, efficitur eu ligula. Nunc pellentesque finibus consequat.

Nulla bibendum magna in elementum lobortis. Vestibulum tempor tellus turpis, in malesuada nunc molestie et. Proin tempus non massa vel sollicitudin. Sed at nulla vitae ipsum aliquet tristique. Duis interdum nisi eu magna hendrerit, ornare commodo libero fringilla. Duis mattis tellus molestie nisl pharetra, et varius purus gravida. Vivamus accumsan faucibus interdum. Nam lacinia lorem nec eros imperdiet venenatis. Cras ullamcorper nunc imperdiet elit auctor, nec ultrices diam ullamcorper. Aliquam condimentum maximus elementum. Nullam arcu lectus, euismod eget hendrerit vel, dictum id metus. Vestibulum scelerisque ex ac ligula commodo condimentum. Donec congue efficitur neque at ultricies. Praesent vestibulum diam vitae justo ullamcorper, quis volutpat tortor aliquam.

Integer ornare tellus libero, et viverra ligula malesuada nec. Sed luctus dolor in ante congue euismod. Ut molestie pharetra mi, vel tempus massa accumsan nec. Pellentesque mauris elit, fringilla non hendrerit at, sollicitudin vel justo. Sed blandit mauris ut rhoncus porttitor. Aenean vel accumsan orci. Nunc ante erat, rhoncus in dolor sed, dignissim pellentesque enim. Praesent ligula leo, viverra at consequat sit amet, pulvinar vel lacus. Quisque accumsan nunc eget ullamcorper tempor. Cras ut erat in mauris venenatis viverra. Donec sit amet dapibus libero, sed rhoncus felis. Ut commodo vestibulum pellentesque. In non sapien sit amet arcu commodo volutpat. Maecenas eu nisi commodo, faucibus ipsum nec, tincidunt elit.
    </ion-card-content>
  </ion-card>
  <ion-button color="dark" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Next Chapter</ion-button>
  <ion-button color="light" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous Chapter</ion-button>
</ion-content>
